body {
  font-family: Arial, sans-serif;
  background-color: #dfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #ff8800;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #c56900;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
}

p {
  text-align: center;
  color: red;
}
